<!DOCTYPE html>
{% csrf_token %}
<html>
	<head>
		<title>图书搜索</title>
	</head>
	
	<body>
		<br/>
		<form action="{% url 'searchbook' %}" method="post">
		{% csrf_token %}
			<fieldset>
				<legend></legend><br/>
				搜搜: <input type="text" name="search" /> "回车搜索" <br/><br/>
			</fieldset>
		</form>
		
		<br/>
		<fieldset>
		<legend>图书目录</legend><br/>
		<table cellpadding="10" width="100%">
			<tr>
			<td>序号</td>
			<td>书名</td>
			<td>出版社</td>
			<td>作者</td>
			<td>出版日期</td>
			<td>价格</td>
			<td>链接</td>
			</tr>
			{% for book in bookresult %}
				<tr>
				<td> {{ book.nid }} </td>
				<td> {{ book.title}} </td>
				<td> {{ book.publish }} </td>
				<td> {{ book.authors_name}} </td>
				<td> {{ book.pub_date | default:''}} </td>
				<td> {{ book.price | default:'' }} </td>
				<td> {{ book.link }} </td>
				</tr>		
			{% endfor %}
		</table>
		</fieldset>

		<br/><br/><a href="{% url 'libconduct' %}"  style="float:right;text-align:right;" >返回</a><br/><br/><br/><br/><br/><br/>
	</body>
</html>

